<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title size="large">MovieIonic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="notfound-container">
    <div class="error-icon">
      <ion-icon name="alert-circle-outline" size="large"></ion-icon>
    </div>
    
    <h1 class="error-code">404</h1>
    
    <h2 class="error-title">Página no encontrada</h2>
    
    <p class="error-message">
      Lo sentimos, la página que buscas no existe o ha sido movida.
    </p>
    
    <div class="action-buttons">
      <ion-button 
        expand="block" 
        color="primary" 
        routerLink="/login"
        class="main-button">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        Volver al Inicio
      </ion-button>
  
    </div>
  </div>
</ion-content>
