body {
  font-family: 'Bodoni Moda', serif;
    --ion-background-color: #f9f6ff;
  --ion-text-color: #222;
}

.movie-img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}