<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Catálogo de Películas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>{{ pelicula.title }}</h2>
        <p>Año: {{ pelicula.year }}</p>
        <p>Género: {{ pelicula.genre }}</p>
        <p>Puntaje: {{ pelicula.rating }}</p>
      </ion-label>
      <img [src]="getImageSrc(pelicula.image)" alt="{{ pelicula.title }}" class="movie-img">
    </ion-item>
  </ion-list>
  <div class="right">
    <a (click)="volverAlHome()">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </a>
  </div>
</ion-content>

