
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    <ion-title size="large">MovieIonic</ion-title>
      <cs-login-form></cs-login-form>
      
    </ion-toolbar>
  </ion-header>

  <ion-text class="ion-padding">
    <h1>Ver directores</h1>
    <p>Ver comentarios</p>
    <ion-button expand="block" (click)="irADirectores()">Ir a Directores</ion-button>
    <ion-button expand="block" (click)="irAComentarios()">Ir a Comentarios</ion-button>
  </ion-text>
</ion-content>
