// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  /* Colores base */
  --ion-color-primary: #be8aff;
  --ion-color-primary-rgb: 190, 138, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #a170e0;
  --ion-color-primary-tint: #c997ff;

  /* Fondo y texto */
  --ion-background-color: #f9f6ff;
  --ion-text-color: #222;

  /* Acentos */
  --ion-color-accent: #be8aff;
  --ion-color-accent-contrast: #fff;
}
