
  <ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Peliculas de {{ username }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">

  <div class="right btn-navigate">
    <a (click)="irADirectores()">
     Directores
    </a>
  </div>

  <div class="right btn-navigate">
    <a (click)="irAComentarios()">
      Comentarios
    </a>
  </div>


<ion-list>
  <app-pelicula 
    *ngFor="let pelicula of peliculas" 
    [id]="pelicula.id" 
    [state]="state">
  </app-pelicula>
</ion-list>

</ion-content>
